In [4]:
import pandas as pd
import numpy as np

In [18]:
#genero da un file di testo (csv) un array, skippando l'header che nel caso di un array sarebbero valori nulli:

taxi = np.genfromtxt('nyc_taxis.csv', delimiter = ',', skip_header= True)

In [19]:
taxi

array([[2.016e+03, 1.000e+00, 1.000e+00, ..., 1.165e+01, 6.999e+01,
        1.000e+00],
       [2.016e+03, 1.000e+00, 1.000e+00, ..., 8.000e+00, 5.430e+01,
        1.000e+00],
       [2.016e+03, 1.000e+00, 1.000e+00, ..., 0.000e+00, 3.780e+01,
        2.000e+00],
       ...,
       [2.016e+03, 6.000e+00, 3.000e+01, ..., 5.000e+00, 6.334e+01,
        1.000e+00],
       [2.016e+03, 6.000e+00, 3.000e+01, ..., 8.950e+00, 4.475e+01,
        1.000e+00],
       [2.016e+03, 6.000e+00, 3.000e+01, ..., 0.000e+00, 5.484e+01,
        2.000e+00]])

## What is the mean speed of the car rides?

In [40]:
# velocità = spazio / tempo -> (trip_dist / trip_length)

# Poi faccio la media, facendo .mean()

(taxi[:, 7] / (taxi[:, 8]/3600)).mean()

32.24258580925573

In [22]:
import pandas as pd

In [36]:
speed_df = pd.DataFrame(speed)

In [37]:
speed_df.rename(columns={0:'speed'})

           speed
0      37.113402
1      38.581579
2      31.272230
3      25.884298
4      26.371542
...          ...
89555  17.194570
89556  30.101351
89557  22.299079
89558  42.415512
89559  36.904734

[89560 rows x 1 columns]

## Number of rides taken in febraury

In [41]:
# Devo vedere quante volte nella colonna del mese (pickup_month) c'è febbraio (1):

In [56]:
bbas = taxi[taxi[:,1] == 2,1]

In [76]:
len(bbas) #numero di giri fatti in febbrario.

13333

In [79]:
bbas.shape # stesso metodo di prima

(13333,)

## Number of rides where tip was more than 50$

In [85]:
hightip = taxi[taxi[:,12] > 50.00,12]

In [90]:
len(hightip)

16

## Number of rides where drop was JFK

In [ ]:
#in the column dropoff_location JFK is 2

In [91]:
bbas2 = taxi[taxi[:, -9] == 2, -9]

In [92]:
len(bbas2)

11832